.text
{
    margin-top: 20px;
    border: 2px solid black;
    text-align: center;
    margin-left: 300px;
    width: 800px;
}
#glow {
        font-size:1rem;
        color: rgb(51, 82, 82);
        text-align: center;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
@keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #e62300, 0 0 10px #f42e06, 0 0 10px #f42f0c, 0 0 10px #f1120a, 0 0 10px #f71707;
        }
        
        to {
          text-shadow: 0 0 10px #fff, 0 0 20px #534dff, 0 0 20px #0413bc, 0 0 20px #0619e9, 0 0 20px #2e09e6, 0 0 20px #0f07ef, 0 0 20px #1304e9;
        }
}
@mixin logoimag($width,$height,$left,$top)
{
    width: $width;
    height:$height;
    margin-left:$left;
    margin-top:$top;
}
.logoimage
{
    @include logoimag(50px,50px,280px,50px);
}
.logoimage1
{
    @include logoimag(150px,40px,220px,0px);
}
.logoimage2
{
    @include logoimag(30px,30px,none,40px);
}
.logoimage3
{
    @include logoimag(100px,50px,250px,40px);
}
#sbi
{
  color: blue;
  margin-top: 20px;
}
#sbi1
{
  color: blue;
  margin-top: 20px;
  border: 2px solid black;
  background-color: bisque;
  width: fit-content;
}
.text2
{
  color: blue;
}
.text3
{
  margin-left: 80px;
}
.list
{
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
}
li
{
  margin: 20px;
}
.text4
{
  font-size: 1.2rem;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  background-color: bisque;
}