$secondary:rgb(2, 2, 78);
@import "../node_modules/bootstrap/scss/bootstrap";
@import "_text.scss";
@import "_images.scss";

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    background-color: bisque;
}
a
{
  font-size: 1.2rem;
}
%content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
@mixin widthfun($width,$height,$color)
{
    width:$width;
    height:$height;
    $color:$color;
}
.primary
{  

    @include widthfun(100px,50px,none);
}
.sbi
{
    @extend %content;
}
.button
{    @extend %content;
    margin-top: 20px;
    border: 2px solid white;
    justify-content: space-around;
}
.personal
{
    border: 2px solid black;
    width: 600px;
    height:400px;
}
#h5
{
    text-align: center;
    color: skyblue;
}
.button1
{
    color: darkblue;
}
.logos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portal
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.d-blockw
{
    border: 2px solid black;
    width: 1500px;
    height:400px;
    margin-top: 40px;
    margin-left: 10px;
}
.text1
{
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: lightblue;
    font-weight: bold;
    color: darkblue;
}
.d-block
{
  width: 1500px;
  height: 400px;
}
